.circle {
    width: 300px;
    height: 1000px;
    border-radius: 50%;
    background-image: url(C:\Users\kengh\OneDrive\Desktop\UwWeek20Challenge\public\5ab538e6ag476e67a229cb7072e30882.jpg);
    background-size: cover;
    background-position: center;
}