.navbar {
    width: 100%;
    display: flex;
    /* border-style: solid; */
    justify-content: space-between;
}

.nav-link {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: underline;
}

.nav-link:hover {
    transform: translateY(-3px);
  }

/* .ml-auto{
    border-style: solid;
} */

.navbar-expand .navbar-collapse {
    display: flex!important;
    justify-content: flex-end;
}

.navbar-brand{
    font-size: 50px;
    margin-left: 20px;
    font-weight: bold;
}
