.custom-card {
    width: 35%;
    height: 400px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid transparent;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: #F8F8F8
}

.custom-card:hover {
    transform: translateY(-10px);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.pictures {
    border-style: solid;
    width: 50%;
    height: 60%;
    margin: 3%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}